# MacOS directory info
.DS_Store

# swapfiles
*~
*.swp

# old versions
*.old

# binaries and whatnot that aren't ours
bin/*
data/*
tests/*
tools/*.pl
tools/*.sh
tools/*.txt
tools/*.dic
tools/s3ep
tools/subdic
